body {
    background-color: rgb(255, 161, 213);
    font-family: "Comic Sans MS", cursive;
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin: 0;
}

/* Centering the buttons */
.box {
    text-align: center;
}

/* Removing the border from the buttons */
button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Making the dimensions of the images the same*/
button img {
    height: 100px;
    width: 100px;
}
